<head>
    <title>My Chat Room</title>
</head>

<body>
    <h1>Welcome To My Chat</h1>
    
    {{> hello}}
</body>

<template name="hello">
    <form class="chat-room">
        <textarea name="messages"></textarea>
        <input type="submit" value="Submit message" />
    </form>
    
    {{#each messages}}
        <p>{{text}}</p>
    {{/each}}
</template>